:root {
    --Primary: #110f14;
    --Secondary: #bec6f1;
    --Tertiary: #cc9a3e;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--Primary);
    color: var(--Secondary);
    margin: 0px;
    padding: 0px;
}

header {
    margin-top: 1.5rem;

    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;

    display: block;
    height: 2rem;

    border-bottom: 3px solid #f8f8f8;
    border-top: 3px solid #f8f8f8;

    opacity: 90%;
    mix-blend-mode: lighten;


}

header p {
    font-size: 1.7rem;
    border-left: 1rem solid #f8f8f8;
    padding-left: 0.7rem;
    margin-right: 3rem;

    display: inline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

section {
    margin-top: 2rem;
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.fifth {
    width: 20%;
}

.fourth {
    width: 25%;
}

.third {
    width: 33%;
}

.half {
    width: 50%;
}

.full {
    width: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    padding-top: 2rem;
    padding-bottom: 2rem;

    border-bottom: solid var(--Secondary) 1rem;
}

.flexbox {
    display: flex;
    gap: 1.5rem;
}

.absoluteFlexbox {
    display: inline-flex;
    position: relative;
    float: right;
    width: 40%;



    height: 3rem;
    gap: 1.5rem;

    justify-content: right;

    border: 2px white solid;
}

.icon {
    z-index: 5;

    
    border: 2px red solid;
}

p {
    margin: 0px;
    padding: 0px;  

    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: normal;
    font-size: 1.7em;
    font-weight: lighter;

    color: var(--Tertiary);
    border-top: var(--Tertiary) 3px solid;
    border-bottom: var(--Tertiary) 3px solid;

    justify-content: left;
    padding-left: 2rem;
    border-left: 1rem solid var(--Tertiary);
}

.imgBig {
    max-width: 50%;
    float: right;
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-style: double;
    border-width: 0.5rem;
    border-color: var(--Secondary);
}

@media (min-width: 475px) { /*Extra Small Screens*/
    .container{
        max-width: 475px;
    }
    p {
        font-size: 0.8em;
    }
}

@media (min-width: 640px) { /*Small Screens*/
    .container{
        max-width: 640px;
    }
    p {
        font-size: 0.9em;
    }
}

@media (min-width: 768px) { /*Medium Screens*/
    .container{
        max-width: 768px;
    }
    p {
        font-size: 0.9em;
    }

    .absoluteFlexbox {
        height: 5rem;
    }
}

@media (min-width: 1024px) { /*Large Screens*/
    .container{
        max-width: 1024px;
    }

    p {
        font-size: 1em;
    }
}

@media (min-width: 1280px) { /*XLarge Screens*/
    .container{
        max-width: 1280px;
    }
    p {
        font-size: 1.1em;
    }
}

@media (min-width: 1536px) { /*2XLarge Screens*/
    .container{
        max-width: 1536px;
    }
    p {
        font-size: 1.2em;
    }
}
